.header{
  position: fixed;
  background-color: brown;
  display: flex;
  justify-content: space-between;

  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px 40px;
  z-index: 1;
}

.logo{
  color: white;
  font-size: 24pt;
  font-weight: bold;
}

.nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

.link{
  color:rgb(223, 171, 171);
  text-decoration: none;
}

.link:hover{
  color: white;
}

